
.benefits {
  padding: 0 20px;
  padding-top: 55px;
}

.list-benefits {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-benefits__item h3 {
  font-family: "Open sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.list-benefits__item p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.benefits__iphone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .benefits__iphone::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
} */

.benefits__iphone--phone {
  position: absolute;
  top: 37px;
  left: 72px;
}

.benefits__benefits-container {
  padding-bottom: 45px;
}
