.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 63px;
  margin-top: 1px;
  background-color: #283645;
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);

  & a {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
  }

}

.site-list__item a {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $desktop-width) {

  .site-list__item {
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    padding-right: 78px;

    a {
      text-transform: none;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
    }

  }

  .site-list__item:last-child {
    padding-right: 110px;
  }

}
