$tablet-width: 660px;
$desktop-width: 1200px;

.tariffs {
  position: relative;
  width: 280px;
  margin: 0 20px;
  margin-top: 25px;
  overflow: hidden;
}

.tariffs::before {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 75px;
  height: 75px;
  position: absolute;
  top: -9px;
  left: 23px;
  content: 'хит';
  z-index: 2;
  color: white;
  text-transform: uppercase;
  transform: rotate(-45deg);
}

.tariffs::after {
  position: absolute;
  content: '';
  top: 23px;
  left: -27px;
  height: 23px;
  width: 104px;
  overflow: hidden;
  transform: rotate(-45deg);
  background-color: #d22856;
}

.tariffs__header {
  font-family: "Open Sans";
  text-align: center;
  color: white;
  background-color:#283645;

  &--name {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding-top: 19px;
  }

  &--price {
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 35px;
  }

}

.tariffs__main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33%;
  gap: 2px;
  background-color: #f2f2f2;
}

.tariffs__main--section {
  width: 280px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;


& p  {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 20px;
}

}

.tariffs__image {
  padding-top: 20px;
  padding-right: 17px;

  &--red {
    padding-top: 16px;
    padding-right: 19px;
  }

}
